#define IDM_TEST 1
#define IDM_OPEN 2
#define IDM_EXIT 3
#define IDB_TREE 4006
IDB_TREE BITMAP list.bmp
FirstMenu MENU
{
 POPUP "&File"
       {
        MENUITEM "&Open",IDM_OPEN
        MENUITEM "&Exit",IDM_EXIT
       }
 MENUITEM "&Close file", IDM_TEST
}